.parent {

    display: flex;
  align-items: center;
  justify-content: center;
}
.leftArrow, .rightArrow{
    flex: 1;
}
.item{
    padding: 2%;
}
.itemCenter {
    box-shadow: 1px 2px 2px 1px black;
    padding: 4%;
}
  .mainData {
    flex: 6;
   
}
.mainData h4 {
text-align: center;
}

