form {
  display: inline;
}
button {
  display: flex;
  justify-content: center;
  align-items: center; 
  background: #673ab7;
  color:#fff;
  font-size: 20px;
}
form {
    justify-content: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
form button {
    margin: 0 1%;
}